body{
    background: #fefefe;
    width:100%;
    margin:0;
    padding:0;
}

/* page not found */
.not_found{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top:20px
}
.not_found img{
    width: 100%; 
    margin-bottom:30px   
}
.home_link{
    width: 100px !important;
    text-decoration: none;
    padding: 10px;
    margin-top:200px !important;
    background: #1292fa
}
/* end of page not found */
/* index page */

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    overflow: hidden;
  }
  
  .container {
    width: 75%;
    margin: 0 auto;
  }
  
  .app {
    height: 50px;
    background: #20a336;
    background: -webkit-linear-gradient(left, #31c8d7 0%, #2ed698 100%, #2ed698 100%);
    /* Chrome10-25,Safari5.1-6 */
  }
  
  .head {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .p2 {
    margin-left: auto;
    margin-right: 20px;
  }
  
  nav {
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 1px 1px 5px #bdbdbd;
            box-shadow: 1px 1px 5px #bdbdbd;
    height: 70px;
  }
  
  nav .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns:  1fr 1fr;
  }

  nav .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
  }
  
  nav .navbar .menu {
    margin: 0 auto;
  }
  
  nav .navbar .menu ul li {
    display: inline;
    list-style: none;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  nav .navbar .menu ul li a {
    text-decoration: none;
    color: #969696;
    font-size: 18px;
  }
  
  nav .navbar .menu ul li a:hover {
    color: #33f86e;
  }
  
  nav .navbar .compt {
    margin-left: auto;
  }
  
  nav .navbar .compt ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  nav .navbar .compt ul li svg {
    width: 20px;
  }
  
  nav .navbar .compt ul li a {
    text-decoration: none;
    color: #37A2F1;
    font-size: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  nav .navbar .compt ul svg {
    width: 20px;
    margin-top: -62px;
    margin-right: 8px;
    color: #37A2F1;
  }
  
  header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  
  header h1 {
    margin: 0 auto;
    padding-top: 250px;
    text-align: center;
    color: white;
    width: 100%;
    z-index: 1;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  }
  
  header .search {
    background-color: white;
    border-radius: 50px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 740px;
    height: 40px;
    padding: 10px;
    margin-top: -250px;
  }
  
  header .search input[type=text] {
    width: 345px;
    margin-left: 20px;
    border: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #666;
    margin-right: 10px;
  }
  
  header .search select {
    width: 305px;
    margin-right: 10px;
    background-color: #fbfbfb;
    color: #666;
    border: none;
    border-radius: 50px;
    padding-left: 6px;
    -webkit-box-shadow: 1px 0 2px #afafaf;
            box-shadow: 1px 0 2px #afafaf;
            
  }
  select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  header .search button {
    width: 43px;
    height: 43px;
    border: none;
    border-radius: 50%;
    margin-top: 0px;
    cursor: pointer;
    background: #37A2F1;
  }
  
  header .search button img {
    width: 20px;
    margin: auto;
    color: white;
  }
  
  header .overlay {
    width: 100%;
    height: 100%;
    background: #363636;
    opacity: .6;
    position: absolute;
  }
  
@media screen and (max-width: 1440px) {
    .container {
      width: 85%;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .container {
      width: 100%;
    }
  }

  @media screen and (max-width: 800px) {
    .btns {
      display: -ms-grid;
      display: grid;
      width: 100% !important;
      -ms-grid-columns: 1fr !important;
          grid-template-columns: 1fr !important;
    }
 
    .search {
      border-radius: 50px;
      z-index: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      width: 710px !important;
    }
    .search input[type=text] {
      width: 245px;
      margin-left: 20px;
      border: none;
      font-size: 18px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #666;
      margin-right: 10px;
    }
    .search select {
      width: 180px !important;
      border-radius: 50px;
      padding-left: 6px;
      -webkit-box-shadow: 1px 0 2px #d6d6d6;
              box-shadow: 1px 0 2px #d6d6d6;
    }
    .search button {
      width: 43px;
      height: 43px;
      border: none;
      border-radius: 50%;
      margin-top: 0px;
      cursor: pointer;
      background: #37A2F1;
    }
    .search button img {
      width: 20px;
      margin: auto;
      color: white;
    }
  }
  
  @media screen and (max-width: 740px) {
     .search {
      border-radius: 40px !important;
      z-index: 1;
      margin-top: -150px !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      width: 300px !important;
      height: 200px !important;
    }
    .search input[type=text] {
      width: 100% !important;
      height: 30px !important;
    }
    .search select {
      width: 100% !important;
      height: 40px !important;
      margin-top: 10px !important;
    }
    .search button {
      width: 100% !important;
      height: 43px;
      border: none;
      border-radius: 20px !important;
      margin-top: 10px !important;
    }
    
 
  }
  
  @media screen and (max-width: 450px) {
   
    nav .navbar {
      -ms-grid-columns: 1fr !important;
          grid-template-columns: 1fr !important;
      text-align: center;
    }

    nav .navbar ul {
      display: none;
      font-size: 15px !important;
    }
  }